Implement checks

#Based on https://github.com/farrokhi/dnsdiag/issues/16

## base
- [x] if the domain provided resolves
## glue check:
- [x] exist
- [x] match
## dnssec check:
- [x] validate DNSKEY
- [x] validate DNSSEC chain 
## spam check:
- [x] spf exists
- [x] spf is restrictive
- [x] dmarc exists
- [x] dmarc policy
## NS check:
- [x] if there are enough NS records 
- [x] have distinct IP addresses 
- [x] and no CNAMEs
- [x] different subnets
- [x] different ASNs
- [x] that all NS records respond to requests
- [x] that NS servers are not recursive
- [x] that all NS servers are authoritative
- [x] that NS records match parent zone
- [x] no stealth records present
- [x] that all NS servers respond with the same lists of NS
- [x] that all NS servers IPs are reachable (e.g. non RFC 1918)
## SOA check:
- [x] present
- [x] valid (cf RFC 1912 for ranges, including email)
- [x] MNAME entry is in NS list
- [x] all fields match across NS servers
## MX check:
- [x] that MX records are present
- [x] and more than one
- [x] and point to different IPs
- [x] no CNAME
- [x] matching reverse DNS for MX records
- [x] routable MX records
## web check
- [x] www exists
- [x] @ exists (and not a CNAME)
- [x] routable


# Possible future checks

## MX connection check
- [ ] port 25 open
- [ ] SMTP banner
- [ ] RFC5321-compliant SMTP greeting
- [ ] accepts mails from NULL (for DSN etc)
- [ ] accepts mail to postmaster ( RFC822 6.3, RFC1123 5.2.7, and RFC2821 4.5.1)
- [ ] accepts mail to abuse (RFC2142 Section 2)
- [ ] accepts mail to IP (RFC1123 section 5.2.17)
- [ ] not an open relay
